.counter-div{
  text-align: center;
  color: brown;
  width: 320px;
  margin-left: 450px;
  padding-bottom: 10px;
  height: 200px;
  background-color: aliceblue;
}
.counter-h2{
  color:cornflowerblue;
}
.counter-btn{
  background-color:cadetblue;
  border-radius: 5px;
  margin-right: 1px;
  border-style: none;
  height: 30px;
}

.TODO{
  text-align: center;
  width: 50%;
  background-color: bisque;
  margin-left: 320px;
  padding-bottom: 10px;
}
.todo-h1{
  color: crimson;
}
.btn-todo{
  text-align: center;
  width: 500px;
  color: aliceblue;
  
}
.h3-todo{
  color: black;
}
.ul-todo{
  text-align: center;
  margin-left: 100px;
  width: 50%;
  color: brown;
}
.head{
  margin-left: 380px;
  text-align: center;
  color: chocolate;
  margin-top: 220px;
  width: 500px;
  background-color: antiquewhite;
}
.head1{
  text-align: center;
  color: darkgreen;
  background-color: aliceblue;
  width: 500px;
  margin-left: 380px;
  height: 100px;
}
.btn{
  margin-right: 1%;
  border-radius: 5px;
  background-color: cadetblue;
  color: antiquewhite;
  border-style: none;
}

